#btnn1 {
    width: 150px;
    height: 40px;
    background: #008DFF;
    border: 2px solid #008DFF;
    /*margin-top: 13px;*/
    color: #fff;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

#btnn1:hover{
    opacity: .7;
}

fieldset {
    width: 500px;
    margin: auto;
    background-color: rgba(250,250, 250, 0.5);
}

.Login{
    font-family:'Lucida Sans' ;
    font-weight: bold;
}

.txt1{
    font-family: Calibri;
}
#uname, #pwd {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 300px;
    height: 30px;
    border: 1px solid ghostwhite;
}

::placeholder{
    font-family: Calibri;
}
